<template>
  <div id="guestadmin">
    <guestadmin-header/>
    <guestadmin-menu/>


    <b-button @click="hideLanding" v-show="!showHome" class="btn btn-lg  mt-3">Hide Landing / Show Home Page</b-button> <!-- for demo -->
   
    <landing-page v-show="!showHome"/>

    <!-- Home -->
    <main class="guest-admin animated fadeIn" v-show="showHome">

      <b-container>
        <b-row>
          <div class="col-md-12 d-flex justify-content-between align-items-center">
            <h3 class="font-weight-normal mb-3">Overview</h3>
            <span>
              <button @click="$bvModal.show('guestadmin-modal')" class="btn btn-brand">+ Add Your Event</button>
            </span>
          </div>
        </b-row>

        <b-modal centered size="lg" id="guestadmin-modal" modal-class="modal modal-dialog-center">
          <template> 
            <div class="guestadmin bg-white p-3 text-center">
              <h3>TimeOut Tokyo Ticket Rate</h3>
              <p>By accessing this admin you will be able to request that your events, tickets and items be listed on this service.</p>
              <h3 class="text-brand">10% + System Fee (4.98%+ 98 JPY)</h3>

              <div class="alert alert-warning">
                Please understand that the listing is at our discretion and even though an event or ticket is submitted we have the right to approve or reject it.
              </div>

              <span>
                <a href="addevent.html" class="btn btn-brand btn-lg">I Agree, Continue</a>
                <button class="btn btn-outline-brand btn-lg" @click="$bvModal.hide('guestadmin-modal')">Cancel</button>
              </span>
            </div>
          </template>
          <div slot="modal-footer" @click="$bvModal.hide('guestadmin-modal')">&nbsp;&nbsp;&nbsp;&nbsp;</div> <!-- override default modal footer -->
        </b-modal>

        <b-row>
          <div class="col-md-4">
            <b-card class="py-4">
              <div class="text-block text-center">
                <h5 class="mb-1 font-weight-normal">Total Tickets Sold</h5>
                <h2 class="text-brand mb-0 font-weight-normal">1,088</h2>
              </div>
            </b-card>        
          </div>
          <div class="col-md-4">
            <b-card class="py-4">
              <div class="text-block text-center">
                <h5 class="mb-1 font-weight-normal">Total Members</h5>
                <h2 class="text-brand mb-0 font-weight-normal">348</h2>
              </div>
            </b-card>
          </div>
          <div class="col-md-4">
            <b-card class="py-4">
              <div class="text-block text-center">
                <h5 class="mb-1 font-weight-normal">Total Sales</h5>
                <h2 class="text-brand mb-0 font-weight-normal" style="white-space:nowrap;">¥ 2,012,091</h2>
              </div>
            </b-card>
          </div>
        </b-row>
      </b-container>

      <b-container>
        <b-row> 
          <div class="col-md-12">
            <event-list/>
          </div>
        </b-row>
      </b-container>

      <b-container>
        <b-row>
          <div class="col-md-12">
            <event-notification/>
          </div>
        </b-row>
      </b-container>    
    </main>

    <guestadmin-footer/>
  </div>
</template>

<script>
  import guestadminHeader from './../../components/GuestAdminHeader.vue'
  import guestadminFooter from './../../components/GuestAdminFooter.vue'
  import guestadminMenu from './../../components/GuestAdminMenu.vue'
  import eventList from './../../components/GuestAdminEventList.vue'
  import eventNotification from './../../components/GuestAdminEventNotification.vue'
  import landingPage from './../../components/LandingPage.vue'

  export default {
    name: 'guestadmin',
    components: {
      guestadminHeader,
      guestadminFooter,
      guestadminMenu,
      eventList,
      eventNotification,
      landingPage
    },
    data() {
      return {
        showHome: false
      }
    },

    methods: {
      hideLanding () {
        this.showHome = !this.showHome;
      }
    }

  }
</script>