<template>
	<div id="guestadmin">
		<guestadmin-header/>
		<guestadmin-menu/>

		<form-wizard>
			<template v-slot="{formData}">

				<!-- Step 1 -->
				<form-tab name="1. Event Information" icon="wrench" info="" :selected="true" :formData="formData" class="col-md-8 mx-auto">
					<h4>Create Your Event</h4>
					<b-form-group id="" label="Event Name" label-for="eventName">
						<b-input type="text" name="eventName" placeholder="The official name of your event" v-model="formData.eventName" data-vv-scope="step1"  v-validate="'required'" />
						<p class="invalid-feedback" v-show="errors.has('step1.eventName')">
							{{ errors.first('step1.eventName') }}
						</p>
					</b-form-group>

					<b-form-group id="" label="Event Type" label-for="eventType">
						<b-form-select v-model="formData.eventType" data-vv-scope="step1" v-validate="'required'" name="eventType">
							<option value="">Select from below</option>
							<option value="1">Concert/Live Show</option>
							<option value="2">Festival</option>
							<option value="3">Conference</option>
							<option value="4">Meet-and-Greet</option>
						</b-form-select>
						<p class="invalid-feedback" v-show="errors.has('step1.eventType')">
							{{ errors.first('step1.eventType') }}
						</p>
					</b-form-group>

					<b-form-row>
						<b-form-group id="" label="Time Starts" label-for="" class="col-md-6">
							<b-row>
								<div class="col-8">
									<b-input type="date" data-vv-scope="step1" v-model="formData.eventStartdate" v-validate="'required'" name="eventStartdate"/>
									<p class="invalid-feedback" v-show="errors.has('step1.eventStartdate')">
										{{ errors.first('step1.eventStartdate') }}
									</p>
								</div>
								<div class="col-4 pl-0">
									<b-input type="time" data-vv-scope="step1" v-model="formData.eventStarttime" v-validate="'required'" name="eventStarttime"/>
									<p class="invalid-feedback" v-show="errors.has('step1.eventStarttime')">
										{{ errors.first('step1.eventStarttime') }}
									</p>
								</div>
							</b-row>
						</b-form-group>

						<b-form-group id="" label="Time Ends" label-for="" class="col-md-6">
							<b-row>
								<div class="col-8">
									<b-input type="date" data-vv-scope="step1" v-model="formData.eventEnddate" v-validate="'required'" name="eventEnddate"/>
									<p class="invalid-feedback" v-show="errors.has('step1.eventEnddate')">
										{{ errors.first('step1.eventEnddate') }}
									</p>
								</div>
								<div class="col-4 pl-0">
									<b-input type="time" data-vv-scope="step1" v-model="formData.eventEndtime" v-validate="'required'" name="eventEndtime"/>
									<p class="invalid-feedback" v-show="errors.has('step1.eventEndtime')">
										{{ errors.first('step1.eventEndtime') }}
									</p>
								</div>
							</b-row>
						</b-form-group>

						<b-form-group class="col-md-12">
							<label>Venue</label>
							<b-input type="text" placeholder="Type in venue name to display available from the list" data-vv-scope="step1" v-model="formData.eventVenue" v-validate="'required'" name="eventVenue"/>
							<p class="invalid-feedback" v-show="errors.has('step1.eventVenue')">
								{{ errors.first('step1.eventVenue') }}
							</p>
						</b-form-group>  
					</b-form-row> 
				</form-tab>

				<!-- Step 2 -->
				<form-tab name="2. Add Tickets" icon="ticket-alt" info="" class="col-md-8 mx-auto" data-vv-scope="step2">

					<h4>General Tickets</h4>
					<event-ticket v-for="ticket in tickets" @delete="handleDeleteticket"/>
					
					<h4>Discount Tickets</h4>
					<event-discount v-for="discount in discounts" @delete="handleDeletediscount"/>

				</form-tab>

				<!-- Step 3 -->
				<form-tab name="3. Confirmation" icon="check" info="" class="col-md-8 mx-auto" data-vv-scope="step3">
					<label>Cover Image</label>
					<div class="guest-img">
						<input type="file" class="custom-file-input guest-img__btn" id="customFile">
						<figure>
							<img class="w-100" v-bind:src="'/src/assets/' + placeholder" /> 
							<div class="guest-img__desc">
								<font-awesome-icon icon="camera"/>
								<p class="pt-3">Upload Image<br>16 x 9 ratio recomm.</p>
							</div>
						</figure>
					</div>

					<b-form-group>
						<label>Event Description</label>
						<ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
					</b-form-group>

					<b-form-group>
						<label>Terms and Conditions</label>
						<b-form-textarea
						id="textarea"
						v-model="text"
						placeholder="Enter something..."
						rows="10"
						max-rows="6"
						></b-form-textarea>
					</b-form-group>

				</form-tab>
			</template>
		</form-wizard>
	</div>
</template>

<script>
	import guestadminHeader from './../../components/GuestAdminHeader.vue'
	import guestadminMenu from './../../components/GuestAdminMenu.vue'
	import formWizard from './../../components/FormWizard.vue';
	import formTab from './../../components/FormTab.vue';
	import eventTicket from './../../components/EventTicket.vue';
	import eventDiscount from './../../components/EventDiscount.vue';
	import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

	export default {
		name: 'addEvent',
		components: {
			guestadminHeader,
			guestadminMenu,
			formWizard,
			formTab,
			eventTicket,
			eventDiscount,
		},
		data() {
			return {
				editor: ClassicEditor,
				editorData: '<p>Add Event Description</p>',
				editorConfig: {
					row: 10
				},
				placeholder: 'guest-img-placeholder.jpg',

				tickets: [
				{
					ticketType: "",
					ticketPrice: "",
					ticketQuantity: "",
				}
				],

				discounts: [
				{
					discountType: "",
					discountPrice: "",
					discountQuantity: "",
					discountCode: "",
				}
				],
				newValues: []
			};
		},
		methods: {
			handleDeleteticket(eventIndex) {
				this.tickets.splice(eventIndex, 1);
			},
			handleDeletediscount(eventIndex) {
				this.discounts.splice(eventIndex, 1);
			}

		}
	}
</script>