<template>
	<b-container class="animated fadeIn">
		<b-row>
			<div class="col-md-10 mx-auto">
				<div class="text-center">
					<h4 class="text-center">
						Please enter your bank or PayPal information below for payout purposes
					</h4>
				</div>

				<b-tabs no-nav-style align="center">
					<!-- Bank tab -->
					<b-tab active>
						<template slot="title">
							<button class="btn btn-brand btn-lg">
								<font-awesome-icon icon="university"/>&nbsp;&nbsp;Bank
							</button>
						</template>

						<b-form-group id="" label="Company Name" label-for="companyName" description="Please fill out the full, LEGAL NAME of your organization, or leave blank if you are working as an individual.">
							<b-input type="text" name="companyName"  v-model="companyName"/>
						</b-form-group>

						<b-form-row>
							<b-form-group id="" label="Contact Name" label-for="" class="col-md-12">
								<b-row>
									<div class="col-md-6">
										<b-input type="text" v-model="contactNamefirst" name="contactNamefirst" placeholder="First Name" required/>

									</div>
									<div class="col-md-6">
										<b-input type="text" v-model="contactNamelast" name="contactNamelast" placeholder="Last Name" required/>
									</div>
								</b-row>
							</b-form-group>
						</b-form-row>


						<b-form-row>
							<b-form-group label="Contact Information" class="col-md-12">
								<b-row>
									<div class="col-md-6">
										<b-input type="email" v-model="email" placeholder="Email Address" required/>
									</div>
									<div class="col-md-6">
										<b-input type="phone" v-model="phone" placeholder="Telephone Number"/>
									</div>
								</b-row> 
							</b-form-group> 
						</b-form-row>

						<h4 class="mt-3">Bank Details</h4>

						<b-form-group id="" label="Bank Name" label-for="bankName">
							<b-input type="text" name="bankName"  v-model="bankName" placeholder="Bank Name"/>
						</b-form-group>

						<b-form-row>
							<b-form-group id="" label="Branch Name and Code" label-for="" class="col-md-12">
								<b-row>
									<div class="col-md-8">
										<b-input type="text" v-model="branchName" name="contactName" placeholder="Branch Name" required/>

									</div>
									<div class="col-md-4">
										<b-input type="text" v-model="branchCode" maxlength="3" name="branchCode" placeholder="3-digit branch code" required/>
									</div>
								</b-row>
							</b-form-group>
						</b-form-row>

						<b-form-group id="" label="Account Type" label-for="accountType">
							<b-form-select v-model="selected" name="accountType" required>
								<option :value="null">Please select below</option>
								<option value="1">Savings</option>
								<option value="2">Checking</option>
							</b-form-select>
						</b-form-group>

						<b-form-group id="" label="Account Number" label-for="accountNumber">
							<b-input name="accountNumber" type="number" v-model="accountNumber" placeholder="7-digit max." required/>
						</b-form-group>

						<b-form-group id="" label="Account Name" label-for="accountName">
							<b-input type="text" name="accountName"  v-model="accountName" placeholder="in KANA. See the inside of the front cover of the bank book" required/>
						</b-form-group>

					</b-tab>
					<!-- Paypal tab -->
					<b-tab>
						<template slot="title">
							<button class="btn btn-primary btn-lg">
								<font-awesome-icon :icon="['fab', 'paypal']"/>&nbsp;&nbsp;PayPal
							</button>
						</a>
					</template>

					<b-form-group id="" label="PayPal E-mail" label-for="paypalEmail" description="Please enter the registerd email address of the PayPal account to which the payout is being transferred.">
						<b-input type="email" name="papyalEmail"  v-model="papyalEmail"/>
					</b-form-group>

				</b-tab>
			</b-tabs>


			<div class="text-center">
				<b-form-checkbox id="checkbox-1" v-model="status" name="checkbox-1" value="accepted" unchecked-value="not_accepted" class="py-4">
					By checking this box I agree to the <a @click="$bvModal.show('modal-terms')">Terms of Service</a>
				</b-form-checkbox>
				<button class="btn btn-brand btn-lg" type="submit">Submit</button>
			</div>

			<b-modal centered size="lg" id="modal-terms" modal-class="modal modal-dialog-center">
				<template> 
					<div class="guestadmin bg-white p-3 text-center">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quibusdam quidem ut. Dolorum autem excepturi explicabo error aliquid atque doloribus cupiditate cumque, molestiae. Soluta tenetur veritatis facilis ea cumque, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quibusdam quidem ut. Dolorum autem excepturi explicabo error aliquid atque doloribus cupiditate cumque, molestiae. Soluta tenetur veritatis facilis ea cumque, quod.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quibusdam quidem ut. Dolorum autem excepturi explicabo error aliquid atque doloribus cupiditate cumque, molestiae. Soluta tenetur veritatis facilis ea cumque, quod.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quibusdam quidem ut. Dolorum autem excepturi explicabo error aliquid atque doloribus cupiditate cumque, molestiae. Soluta tenetur veritatis facilis ea cumque, quod.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quibusdam quidem ut. Dolorum autem excepturi explicabo error aliquid atque doloribus cupiditate cumque, molestiae. Soluta tenetur veritatis facilis ea cumque, quod.</p>
					</div>
				</template>
				<div slot="modal-footer" @click="$bvModal.hide('modal-terms')">&nbsp;&nbsp;&nbsp;&nbsp;</div> <!-- override default modal footer -->
			</b-modal>

		</div>
	</b-row>
</b-container>
</template>

<script>
	export default {
		name: 'addBankinfo',

		data() {
			return {
				selected: null,
				status: "not_accepted"
			}
		}

	}
</script>