<template>
	<div>

		<b-row class="ticket-single">
			<div class="col-6 col-md-4">
				<label>Ticket Type</label>
				<b-input type="text" placeholder="ex. VIP, GA, Early Bird" name="discountType" v-model="discountType" v-validate="'required'"/>
				<p class="invalid-feedback" v-show="errors.has('discountType')">
					{{ errors.first('discountType') }}
				</p>
			</div>
			<div class="col-3 col-md-2 pl-0">
				<label>Price</label>
				<b-input type="number" class="form-control-price" name="discountPrice" v-model="discountPrice" v-validate="'required'"/>
				<p class="invalid-feedback" v-show="errors.has('discountPrice')">
					{{ errors.first('discountPrice') }}
				</p>
			</div>
			<div class="col-3 col-md-2 pl-0">
				<label>Quantity</label>
				<b-input type="number" v-model="discountQuantity" name="discountQuantity" v-validate="'required'"/>
				<p class="invalid-feedback" v-show="errors.has('discountQuantity')">
					{{ errors.first('discountQuantity') }}
				</p>
			</div>
			<div class="col-md-3 col-sm-3 pl-md-0">
				<label>Coupon Code</label>
				<b-input type="string" placeholder="Code to show" v-model="discountCode" name="discountCode" v-validate="'required'"/>
				<p class="invalid-feedback" v-show="errors.has('discountCode')">
					{{ errors.first('discountCode') }}
				</p>
			</div>
			<div class="col-1 d-flex pt-5">
				<font-awesome-icon icon="plus-circle" class="add-one fas text-success"/>&nbsp;&nbsp;
				<font-awesome-icon icon="minus-circle" @click="onDelete" class="delete-one fas text-danger"/>
			</div>
		</b-row>


	</div>
</template>

<script>
	export default {
		name: 'eventDiscount',
		
		methods: {
			onDelete() {
				this.$emit('delete', this.index);
			}
		}
	}
</script>