<template>
	<div>

		<b-row class="ticket-single">
			<div class="col-6">
				<label>Ticket Type</label>
				<b-input type="text" placeholder="ex. VIP, GA, Early Bird" name="ticketType" v-model="ticketType" v-validate="'required'"/>
				<p class="invalid-feedback" v-show="errors.has('ticketType')">
					{{ errors.first('ticketType') }}
				</p>
			</div>
			<div class="col-3 pl-0">
				<label>Price</label>
				<b-input type="number" class="form-control-price" name="ticketPrice" v-model="ticketPrice" v-validate="'required'"/>
				<p class="invalid-feedback" v-show="errors.has('ticketPrice')">
					{{ errors.first('ticketPrice') }}
				</p>
			</div>
			<div class="col-2 pl-0">
				<label>Quantity</label>
				<b-input type="number" placeholder="" v-model="ticketQuantity" name="ticketQuantity" v-validate="'required'"/>
				<p class="invalid-feedback" v-show="errors.has('ticketQuantity')">
					{{ errors.first('ticketQuantity') }}
				</p>
			</div>
			<div class="col-1 d-flex pt-5">
				<font-awesome-icon icon="plus-circle" class="add-one fas text-success"/>&nbsp;&nbsp;
				<font-awesome-icon icon="minus-circle" @click="onDelete" class="delete-one fas text-danger"/>
			</div>
		</b-row>


	</div>
</template>

<script>
	export default {
		name: 'eventTicket',
		
		methods: {
			onDelete() {
				this.$emit('delete', this.index);
			}
		}
	}
</script>