<template>
	<div class="container-fluid">
		<div class="progress-bar pt-5 d-none d-lg-block">
			<ol class="clearfix">
				<li v-for="tab in tabs" :class="{ 'active': tab.isActive }"  v-bind:key="tab.name">
					<div class="progress-status">
						<font-awesome-icon :icon="['fa', tab.icon]"/>
					</div>
					<h5 class="fa-step--text">{{tab.name}}</h5>
					<p>{{tab.info}}</p>
				</li>
			</ol>
		</div>

		<b-container class="pt-5">
			<b-row>
				<slot :formData="formData"></slot>
			</b-row>
		</b-container>

		<div class="text-center py-4">
			<span class="control">
				<button class="btn btn-lg btn-outline-brand">Cancel</button>
			</span>
			<span class="control" v-if="currentActive > 0">
				<button @click="previousTab()" class="btn btn-lg btn-secondary">Previous</button>
			</span>
			<span class="control" v-if="currentActive < totalTabs - 1">
				<button @click="nextTab()" class="btn btn-lg btn-brand">Next</button>
			</span>
			<span class="control" v-if="currentActive == totalTabs -1" >
				<button @click="submit()" class="btn btn-lg btn-brand">Submit</button>
			</span>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'formWizard',
		data (){
			return {
				tabs: [],
				currentActive: 0,
				totalTabs: 0,
				formData: { 
					eventName: '',
					eventType: '',
					eventStartdate: '',
					eventStarttime: '',
					eventEnddate: '',
					eventEndtime: '',
					eventVenue: '',
				},
			}
		}, 
		created() {
			this.tabs = this.$children;
		},

		mounted() {
			this.totalTabs = this.tabs.length;
		},

		methods: {
			previousTab(){
				this.currentActive--;
				this.tabs.forEach(tab => {
					tab.isActive = false;
				});
				this.tabs[this.currentActive].isActive = true;

			},

			nextTab(){
            //Validate input
            this.$root.$validator.validate('step'+(this.currentActive+ 1)+'.*').then(valid => {
            	if (valid){
            		this.currentActive++;
            		this.tabs.forEach(tab => {
            			tab.isActive = false;
            		});

            		this.tabs[this.currentActive].isActive = true;
            	}
            }); 

        },

        submit(){

        	this.$root.$validator.validate('step'+this.totalTabs+'.*').then(valid => {
        		if (valid){
        			alert("Everything passes ! Ready to Submit")
        		}
        	});
        }
    }
}
</script>