<template>
	<div class="animated fadeIn" v-show="isActive"><slot></slot></div>
</template>


<script>
	export default{
		name: 'formTab',

		props: {
			name:{required: true},
			info:{},
			icon:{},
			selected: { default: false}
		},

		data(){
			return{
				isActive: false,

			}
		},

		created(){
			this.isActive = this.selected
		},
	}
</script>