<template>
		<div class="guestadmin-nav sticky-top navbar-expand-md">
			<nav id="guestadmin-navbar" class="px-3 text-med-grey bg-dark-grey">
				<ul class="m-0 p-0">
					<!-- This should reflect Microsite menu -->
					<li class="d-inline-block"><a href="#">Home</a></li>
					<li class="d-inline-block"><a href="#">Listings</a></li>
					<li class="d-inline-block"><a href="#">Tickets</a></li>
					<li class="d-inline-block"><a href="#">Support</a></li>
					<li class="d-inline-block"><a href="#">Subscribe</a></li>
					<li class="d-inline-block"><a href="#">Your Admin</a></li>
				</ul>
			</nav>
		</div>
</template>


<script>
	export default{
		name: 'guestadminMenu',

	}
</script>