<template>
	<footer class="bg-dark-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-12 d-flex justify-content-between">
					<div class="flex-grow-2">
						<a href="/"><img class="img-header mb-3" src="https://zaiko.io/img/ZAIKO-logo-text-white.svg" alt=""></a>
						<p>© ZAIKO株式会社 (日本) / ZAIKO PTE Ltd (Singapore) All Rights Reserved.</p>
					</div>
					<ul>
						<li class=""><a class="" href="500.php">Support</a></li>
						<li class=""><a class="" href="500.php">Terms</a></li>
						<li class=""><a class="" href="500.php">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</template>


<script>
	export default{
		name: 'guestadminFooter',


	}
</script>

<style lang="scss">

</style>