<template>
  <div>
    <h3 class="font-weight-normal mb-3">Notifications</h3>
    <b-card>
      <ul class="notification-list mb-0">
       <notificationSingle 
       v-for="notification in notifications"
       :message="notification.message"
       :time="notification.time"
       :isnew="notification.isnew"
       :url="notification.url"
       />
     </ul>
   </b-card>
 </div>
</template>

<script>
  import notificationSingle from './GuestAdminEventNotificationSingle.vue'

  export default {
    name: 'eventNotification',

    components: {
      notificationSingle
    },

    data() {
      return {
        notifications: [
        {
          message: "Your event ZAIKO Office Party is now over. Please apply for payout.",
          time: '2 hours ago',
          isnew: true,
          url: '#'
        },
        {
          message: "TimeOut Tokyo has approved your request to edit event Fyre Festival.",
          time: '12 hours ago',
          isnew: true,
          url: '#'
        },
        {
          message: "Your event Tech Conf has been rejected.",
          time: '2 days ago',
          isnew: false,
          url: '#'
        },
        {
          message: "Your event Fyre Festival has been approved.",
          time: '2 days ago',
          isnew: false,
          url: '#'
        }
        ]
      }
    },
    mounted()
    {
      console.log('view mounted');
    }
  }
</script>