<template>
	<header>
		<nav class="header--transparent navbar navbar-expand-lg navbar-light position-relative bg-dark-grey">
			<a href="/"><img class="img-header img-fluid" src="https://d38fgd7fmrcuct.cloudfront.net/pf_1/1_3rvxbpx0swx9kv24mwsik.png" alt=""></a>

			<b-navbar-toggle class="navbar-toggler-zaiko" target="navbar-zaiko">
				<span></span>
				<span></span>
				<span></span>
			</b-navbar-toggle>

			<b-collapse is-nav class="navbar-collapse-zaiko menu-right" id="navbar-zaiko">
					<span class="dropdown-user">
						<b-dropdown variant="link" toggle-class="text-decoration-none" no-caret>
							<template slot="button-content">
								<img class="img-profile mr-2" src="http://zaikoio.herokuapp.com/img/profile.png" alt="">
								<span class="welcome">User Name</span>
							</template>
							<b-dropdown-item href="#">View My Tickets</b-dropdown-item>
							<b-dropdown-item href="#">Account Settings</b-dropdown-item>
							<b-dropdown-item href="#"><span class="btn btn-default d-block">Business</span></b-dropdown-item>
						</b-dropdown>
					</span>

					<span class="dropdown-lang">
						<b-dropdown variant="link" toggle-class="text-decoration-none">
							 <template slot="button-content">
							 English<font-awesome-icon icon="chevron-right" class="d-block d-lg-none"/>
							</template>
							<b-dropdown-item href="#">日本語</b-dropdown-item>
							<b-dropdown-item href="#">Language 1</b-dropdown-item>
							<b-dropdown-item href="#">Language 2</b-dropdown-item>
						</b-dropdown>
					</span>

					<a href="login.php" class="text-light text-center">Sign Out</a>
			</b-collapse>
		</nav>
	</header>
</template>


<script>
	export default{
		name: 'guestadminHeader',


	}
</script>

<style lang="scss">

</style>