<template>
	<li class="p-4 d-flex align-items-center justify-content-between">
		<div>
			<p>{{message}}
				<b-badge pill v-if="isnew" class="btn-brand">NEW</b-badge>
			</p>
			<div class="text-med-grey"><font-awesome-icon icon="clock"/>&nbsp;{{time}}</div>
		</div>
		<a v-bind:href="url" class="btn btn-brand">See Details</a>
	</li>
</template>

<script>
	export default {
		name: 'notificationSingle',		
		props: {
			message: {
				type: String
			},
			time: {
				type: String
			},
			isnew: {
				type: Boolean
			},
			url: {
				type: String
			}
		}
	}

</script>