<template>
	<div>
		<h3 class="font-weight-normal mb-3">Your Events</h3>
		<b-card class="table-responsive">  
			<b-table id="guestadmin-eventlist" hover 
			:items="items" 
			:fields="fields"
			:per-page="perPage"
			:current-page="currentPage"
			><span slot="[status]" slot-scope="data" v-html="data.value"></span></b-table>
		</b-card>

		<b-pagination class="justify-content-end"
		v-model="currentPage"
		:total-rows="rows"
		:per-page="perPage"
		aria-controls="guestadmin-eventlist"
		/>
	</div>
</template>

<script>
	export default {
		name: 'eventList',
		data()
		{
			return {
				fields: {
					event_name:
					{
						label: 'Event Name',
						sortable: false
					},
					event_date: {
						label: 'Event Date',
						sortable:
						true
					}
					, tickets_sold:
					{
						label: 'Tickets Sold',
						sortable:
						true
					}
					, status:
					{
						label: 'Status',
						sortable:
						false
					}
				},
				perPage: 5,
				currentPage: 1,
				
				items: [
				{status: '<a href="eventdetails.html" class="badge badge-success">Active</a>', tickets_sold: 40, event_name: 'Fyre Festival', event_date: '2019/04/20'},
				{status: '<a href="#" class="badge badge-secondary">Draft</a>', tickets_sold: 21, event_name: 'EDC Japan', event_date: '2019/07/20'},
				{status: '<a href="#" class="badge badge-secondary">Pending</a>', tickets_sold: 89, event_name: 'Ultra Japan', event_date: '2019/09/20'},
				{status: '<a href="#" class="badge badge-secondary">Pending</a>', tickets_sold: 29, event_name: 'Mac Conference', event_date: '2019/06/20'},
				{status: '<a href="#" class="badge badge-secondary">Pending</a>', tickets_sold: 9, event_name: 'Facebook Live', event_date: '2019/05/20'},
				{status: '<a href="#" class="badge badge-secondary">Pending</a>', tickets_sold: 89, event_name: 'Tech Conference', event_date: '2019/04/20'},
				{status: '<a href="#" class="badge badge-secondary">Pending</a>', tickets_sold: 28, event_name: 'Tomorrowland', event_date: '2019/03/20'},
				{status: '<a href="#" class="badge badge-danger">Rejected</a>', tickets_sold: 34, event_name: 'Summer Sonic', event_date: '2019/02/20'},
				{status: '<a href="#" class="badge badge-success">Completed</a>', tickets_sold: 73, event_name: 'KYGO Live', event_date: '2019/09/20'},
				{status: '<a href="#" class="badge badge-success">Completed</a>', tickets_sold: 89, event_name: 'Ultra Japan', event_date: '2019/09/20'},
				{status: '<a href="#" class="badge badge-danger">Rejected</a>', tickets_sold: 38, event_name: 'Labyrinth', event_date: '2019/10/20'}
				]
			}
		},
		computed: {
			rows() {
				return this.items.length
			}
		},
		mounted() {

		}	
	}
</script>