<!-- ALL IMG SRC ARE DIRECT LINKS SO THAT NEED TO CHANGE-->
<template>
	<div>
		<section class="call-to-action" style="background: url('https://zaiko.io/img/bg-business.jpg') no-repeat center center / cover">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-sm-12 mx-auto text-center">
						<h2>Set up your Events in minutes</h2>
						<p class="lead">We make ticketing as simple as humanly possible, so you don’t have to. Get the most out of your ticket sales experience.</p>
						<button @click="hideLanding" class="btn btn-lg btn-brand my-4">Get Started Now</button>
					</div>
				</div>
			</div>
		</section>

		<b-container fluid>
			<b-row>
				<div class="col-md-6 col-sm-12 d-flex align-items-center">
					<div class="p-10rem pl-md-0">
						<h2>Your Events, Powered By Us</h2>
						<p class="lead">Bespoke your event any way you want. Concerts, conferences, meet-and-greets - if you can name it, we can get it done.</p>
						<div class="list-check d-flex flex-wrap mt-4">
							<div class="list-item col-md-6 p-0">
								<img src="https://zaiko.io/img/ico-check.svg" alt="" width="16" height="16">
								<span>Ticket Types like VIP, Pre-Sale</span>
							</div>
							<div class="list-item col-md-6 p-0">
								<img src="https://zaiko.io/img/ico-check.svg" alt="" width="16" height="16">
								<span>100% Self-Service</span>
							</div>
							<div class="list-item col-md-6 p-0">
								<img src="https://zaiko.io/img/ico-check.svg" alt="" width="16" height="16">
								<span>Discount Option Available</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 order-md-first d-flex align-items-end pt-md-5">
					<img class="img-fluid " src="http://zaikoio.herokuapp.com/img/guestadmin/guest-events.png" alt="">
				</div>
			</b-row>
		</b-container fluid>

		<b-container fluid class="bg-white">
			<b-row>
				<div class="col-md-5 d-flex align-items-center">
					<div class="p-10rem pr-md-0">
						<h2>Engage With Your Fanbase</h2>
						<p class="lead">Your biggest asset is your followers, your fans. Spend more time convert them into paying customers, and let us handle the rest of the ticket payment process.</p>

						<div class="list-check d-flex flex-wrap mt-4">
							<div class="list-item col-md-6 p-0">
								<img src="https://zaiko.io/img/ico-check.svg" alt="" width="16" height="16">
								<span>100% Paperless Tickets</span>
							</div>
							<div class="list-item col-md-6 p-0">
								<img src="https://zaiko.io/img/ico-check.svg" alt="" width="16" height="16">
								<span>Fraud-Proof Check-in System</span>
							</div>
							<div class="list-item col-md-6 p-0">
								<img src="https://zaiko.io/img/ico-check.svg" alt="" width="16" height="16">
								<span>PayPal &amp; CVS Accepted</span>
							</div>
							<div class="list-item col-md-6 p-0">
								<img src="https://zaiko.io/img/ico-check.svg" alt="" width="16" height="16">
								<span>Stripe Partner</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-7 d-flex align-items-end pt-md-5">
					<img class="img-fluid" src="http://zaikoio.herokuapp.com/img/guestadmin/guest-mogiri.png" alt="">
				</div>
			</b-row>
		</b-container fluid>

		<section class="banner bg-overlay text-center">
			<b-container class="p-5rem">
				<b-row>
					<div class="col-md-8 mx-auto">
						<h2>Pricing</h2>
						<p class="lead mb-5">Set your own ticket prices with absolutely no hidden fees.</p>
						<div class="card-deck">
							<div class="card p-5 m-0 hover">
								<h3>TimeOut Tokyo E-Ticket</h3>
								<h1 class="card-title pricing-card-title d-inline-block">10%<sup>*</sup></h1>
								<p>*Ticketed Events will be charged 10%* + system fee (4.98%+ 98JPY).</p>
								<p>Ticket purchasers never pay a user fee.</p>
								<div>
									<button @click="hideLanding" class="btn btn-lg btn-brand mt-3">Get Started Now</button>
								</div>
							</div>
						</div>
					</div>
				</b-row>
			</b-container>
		</section>

	</v-container>
</div>
</template>

<script>
	export default {
		name: 'landingPage',

		data () {
			return {
			}
		}

	}
</script>