/*!
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@import 'variables';

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-display: $fa-font-display;
  src: url('/css/webfonts/fa-brands-400.eot');
  src: url('/css/webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
  url('/css/webfonts/fa-brands-400.woff2') format('woff2'),
  url('/css/webfonts/fa-brands-400.woff') format('woff'),
  url('/css/webfonts/fa-brands-400.ttf') format('truetype'),
  url('/css/webfonts/fa-brands-400.svg#fontawesome') format('svg');
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}
