<template>
	<div id="guestadmin">
		<guestadmin-header/>
		<guestadmin-menu/>

		<main class="guest-admin">
			<b-container v-if="!showBank">
				<b-row>
					<div class="col-md-8 mx-auto">
						<div :class="'text-center text-' + statusColor ">
							<font-awesome-icon :icon="statusIcon" class="h1"/>
							<h4 class="fa-step--text">{{ statusHeading }}</h4>
						</div>
						<p class="text-center text-dark-grey">{{ statusDesc }}</p>

						<div class="status-details py-3">
							<div class="d-md-flex flex-row">
								<strong>Event Name</strong>
								<a :href="eventID" target="_blank"><p>{{ eventName }}</p></a>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Time Starts</strong>
								<p>{{eventStart}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Time Ends</strong>
								<p>{{eventEnd}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Venue</strong>
								<p>{{eventVenue}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Tickets</strong>
								<div>
									<p v-for="detail in eventTickets">
										{{detail.eventTicketquantity}} {{detail.eventTickettype}} @ {{detail.eventTicketprice}}
									</p>
								</div>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Event Description</strong>
								<p>{{eventDesc}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Event Status</strong>
								<p>{{eventStatus}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Date Approved</strong>
								<p>{{eventStatusdate}}</p>
							</div>
							<!-- Only show below when event is complete -->
							<div class="d-md-flex flex-row">
								<strong>Total Sales</strong>
								<p>{{eventSales}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Total Fees</strong>
								<p>{{eventFees}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Return Amount</strong>
								<p>{{eventPayout}}</p>
							</div>
							<div class="d-md-flex flex-row">
								<strong>Payout Status</strong>
								<p><button v-on:click='hideEventdetails' class='btn btn-brand'>Apply for Payout</button></p>
								<p v-html="eventPayoutstatus"></p>
							</div>
						</div>
					</div>
				</b-row>

				<b-row>
					<div class="col-md-8 mx-auto text-center">
						<a href="guestadmin.php" class="btn btn-brand btn-lg">Return to Home Page</a>
						<button @click="$bvModal.show('modal-suspend')" class="btn btn-outline-brand btn-lg">Suspend this Event </button>
					</div>
					<b-modal centered size="lg" id="modal-suspend" modal-class="modal modal-dialog-center">
						<template> 
							<div class="guestadmin bg-white p-3 text-center">
								<h3>Are you sure you want to suspend this event?</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam obcaecati minima quis in similique omnis sint nesciunt! Magnam non porro velit, expedita quidem quos ea corporis, officiis cupiditate praesentium delectus.</p>
								<span>
									<button class="btn btn-brand btn-lg">Confirm</button>
									<button class="btn btn-outline-brand btn-lg" @click="$bvModal.hide('guestadmin-modal')">Cancel</button>
								</span>
							</div>
						</template>
						<div slot="modal-footer" @click="$bvModal.hide('modal-suspend')">&nbsp;&nbsp;&nbsp;&nbsp;</div> <!-- override default modal footer -->
					</b-modal>

				</b-row>
			</b-container>

			<add-bankinfo v-if="showBank"/>
		</main>
	</div>
</template>

<script>
	import guestadminHeader from './../../components/GuestAdminHeader.vue'
	import guestadminMenu from './../../components/GuestAdminMenu.vue'
	import addBankinfo from './../../components/AddBankInfo.vue'


	export default {
		name: 'eventDetails',
		components: {
			guestadminHeader,
			guestadminMenu,
			addBankinfo
		},
		data() {
			return {
				showBank: false,

				statusColor: "success", // rejected -> "danger", complete -> "info", pending/inactive -> "muted" 
				statusIcon: "check-circle", // rejected/inactive -> "exclamation-circle", pending -> "hourglass-half", complete -> "fa-glass-cheers",  
				statusHeading: "Your Event is Approved", // Rejected / Under Review / Inactive / Complete
				statusDesc: "Desc text placeholder lorem ipsum.",
				eventName: "Fyre Festival",
				eventID: 1,
				eventStart: "2019-12-31 06:00",
				eventEnd: "2020-01-02, 23:00",
				eventVenue: "Fuji Building",
				eventTickets: [
				{	
					eventTickettype : "VIP",
					eventTicketquantity : 20,
					eventTicketprice: 50000
				},
				{
					eventTickettype : "GA",
					eventTicketquantity : 100,
					eventTicketprice: 10000

				},
				{
					eventTickettype : "Discount",
					eventTicketquantity : 10,
					eventTicketprice: 8000

				}
				],
				eventDesc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti harum dolores animi iste, cupiditate quam non vero beatae impedit, quasi minima assumenda, molestias tenetur officiis. Tempore animi aut quidem, at!",
				eventStatus: "Approved / Rejected / Inactive / Complete",
				eventStatusdate: "2019-08-30 12:00",
				eventSales: 50000,
				eventFees: 5000,
				eventPayout: 45000,
				eventPayoutstatus: " / Processing / Paid"
			};
		},
		methods: {
			hideEventdetails () {
				this.showBank = !this.showBank;
			}
		}
	}
</script>