.form-control, .custom-select {
	height: inherit;
	padding: 1rem 0.8rem;

	&-filter {
		padding:.375rem .75rem;
		color: #333;
		border: 1px solid #ababab;
	}

	&.form-code {
		text-align: center;
	}

	&::placeholder {
		color: $med-grey;
	}

	option {
		padding: 1.5rem 0.8rem;
	}
}

textarea.form-control {
	padding: 0.8rem;
}

select.form-control {
	height: 44px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}