header {
	z-index: 990;
	position: relative;

	.navbar-collapse {
		&-zaiko {
			flex-grow: 0;
			z-index: 1030;

			color: white;
			a {
				color: $dark-grey; 
			}
			
			>* {
				position: relative;
				margin-left: 20px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 1rem;
				}
			}
		}
	}

	.dropdown {
		display: block;

		&-user, &-lang {
			> a, button {
				color: white;
			}

			img {
				border: 2px solid white;
				border-radius: 50px;
				width: 25px;
				margin-right: 5px;
			}	
		}

		&-toggle {
			color: white;
			@include hover-state(1,0.8,white);
		}

		button {
			display: flex;
			align-items: center;
			font-weight: normal;

			&:hover {
				-webkit-box-shadow: none;
				box-shadow: none;
			}
		}

		&-item {
			a {
				color: $dark-grey;
			}
		}
	}
}

.header {
	&--transparent {
		display: flex;
		justify-content: space-between; 
		align-items: center;
		position: absolute;
		width: 100%;
		padding: var(--padding-x);
	}
}

.navbar-toggler {
	&-zaiko {
		&[aria-expanded="false"] {
			position: absolute;
		}

		position: fixed;
		width: 25px;
		height: 25px;
		right: calc(var(--padding-x) + 1rem);
		z-index: 9999;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		@include transition(200ms);
		cursor: pointer;
		background: none;
		border: none;
		outline: none;

		span {
			background: white; // Color of Hamburger Menu
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			opacity: 1;
			left: 0;
			border-radius: 10px;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			@include transition(200ms);

			&:nth-child(1) {
				top: 0px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			&:nth-child(2) {
				top: 9px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
			&:nth-child(3) {
				top: 18px;
				-webkit-transform-origin: left center;
				-moz-transform-origin: left center;
				-o-transform-origin: left center;
				transform-origin: left center;
			}
		}

		&[aria-expanded="true"] {
			span {
				background: $light-grey; // Color of Hamburger Menu
				&:nth-child(1) {
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					top: 0px;
					left: 6px;
				}
				&:nth-child(2) {
					width: 0%;
					opacity: 0;
				}
				&:nth-child(3) {
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
					top: 18px;
					left: 6px;
				}
			}
		}
	} 
}


@include media-breakpoint-down(md) { 
	header {
		.navbar-collapse {
			&-zaiko {
				overflow-y: scroll; /* allow scroll inside mobile menu */
				a {
					color: $dark-grey; 
				}
				
				&.collapsing {
					@include media-breakpoint-down(md) {
						opacity: 0!important; /* override the vue transition glitch */
						/* right: -800px!important; */
					}

					&.menu-right {
						height: auto;					
					}
				}
				&.show {
					&.menu-right {
						opacity: 1;
						/* right: 0; */
					}
				}
			}
		}
		.menu-right {
			display : flex;
			flex-direction: column;
			position: fixed;
			background: rgba(0,0,0,.9);
			top: 0;
			right: 0;
			width: 300px;
			height: 100%!important;
			padding: 6rem 3rem 3rem;

			-webkit-box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);
			box-shadow: 0px 1px 9px -3px rgba(0,0,0,0.75);

			@include transition(200ms);

			.welcome {
				font-size: 1.5rem;
			}

			>* {
				width: 100%;
				margin-left: 0;

				&:last-child {
					margin-top: auto;
					font-size: 1.2rem;
				}
			}			
		}
		.dropdown {
			button {
				padding: 0;
			}

			&-toggle {
				font-weight: bold;

				&:after {
					content: none;
				}
			}

			&-user a {
				margin-bottom: 10px;
			}

			&-lang ul {
				display: none;
			}

			&-menu {
				width: 100%;
				position: relative;
				display: block;
				background: none;
				padding: 0;
				margin: 0;
				top: 0;
				-webkit-animation: none;
				-o-animation: none;
				animation: none;
			}

			&-item {
				margin: 20px 0;
				padding: 0;
				&:hover, &:focus, &:active {
					background: none;
				}
			}
		}
	}
}

@include media-breakpoint-only(xs) {
	header {
		.menu-right {
			width: 100%;
		}
	}
} 