header {
	position: relative;
	// padding: ;
}

.top {
	&__header {
		display: flex;
		justify-content: space-between; 
		align-items: center;
		position: absolute;
		width: 100%;
		padding: 2rem 3rem;
	}

	&__content {
		color: white;

		.text-block {
			padding: 0 3rem;
		}

		.hero-title {
			font-size: 4rem;
		}
	}
}

.btn {
	&-login, .helper {
		min-width: 150px;
		padding: 15px 25px;
		font-size: 1.5rem;
		border-radius: 3rem;
	}
}


// RESPONSIVE



@include media-breakpoint-up(xs) { 

}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-up(sm) { 

}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) { 
	
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) { 
	
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) { 

}
