main {
	background: $bg-main;
}

.card {
	margin-bottom: 20px;

	&--login {
		box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
	}
}

.banner {
	position: relative;
	color: white;

	&.bg-home {
		.text-block {
			padding-top: var(--padding-banner);
			padding-bottom: var(--padding-banner);
		}
	}

	&-narrow {
		padding-top: calc(var(--padding-banner) / 1.2);		
		padding-bottom: calc(var(--padding-banner) / 3);		
	}

	> * {
		position: relative;
	}

	.text-block {
		padding: var(--padding-x);
		display: flex;
		flex-direction: column;
		justify-content: center;

		&.banner-narrow {
			padding-top: calc(var(--padding-banner) / 1.2);		
			padding-bottom: calc(var(--padding-banner) / 3);		
		}
	}	
}


.call-to-action {
	color: white;
	padding: 5rem var(--padding-5rem);

	&.bg {
		background: $zk-purple;
	}
}

.img {
	&-header {
		height: 60px;

		@include media-breakpoint-only(xs) {
			height: 50px;
		}
	}

	&-clients {
		height: 70px;
		@include hover-state(.4,.6);
	}
}

.list-check {
	.list-item {
		margin-bottom: 10px;
	}

	span {
		vertical-align: middle;
		padding-left: 0.5rem;
	}
}

.event {
	&-banner {
		position: relative;

		&-gradient {
			position: absolute;
			z-index: 9;
			top: 0px;
			padding: calc(var(--padding-x) * 3);
			width: 100%;
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
			background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
		}

		img {
			@include media-breakpoint-down(sm) {
				height: 320px;
			}

			@include media-breakpoint-up(sm) {
				height: 460px;
			}
			
			object-fit: cover;
		}
	}
}

.ticket {
	&-count {
		width: 50px;
	}
}


@include media-breakpoint-down(sm) {
	.zk {
		&-contact {
			form {
				.data_event {
					width: 100%;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.ticket-sticky {
		position: sticky;
		top: 0;
		height: calc(100vh - 0rem);
		bottom: 0;
		left: 0;
		z-index: 100;
		overflow-y: scroll;
	}
}