@mixin transition($ms, $delay:null) {
	-webkit-transition: all $ms ease-in-out;
	-moz-transition: all $ms ease-in-out;
	-ms-transition: all $ms ease-in-out;
	transition: all $ms ease-in-out;
	-webkit-transition-delay: $delay;
	transition-delay: $delay;
}

@mixin color-zaiko($x, $y) {
	background: linear-gradient(to $x $y, $zk-grad);
}

@mixin hover-state($before, $after, $color:null, $bgcolor:null) {
	opacity: $before;
	&:hover {
		text-decoration: none;
		opacity: $after;
		background: $bgcolor;
	}
}

@mixin bg-overlay($bgcolor, $opacity:null) {
	&:before {
		content: '';
		background: $bgcolor;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		mix-blend-mode: multiply;
		opacity: $opacity;
	}
}

@mixin box-shadow-card($y, $blur, $before, $after) {
	-moz-box-shadow: 0px $y $blur rgba(0, 0, 0, $before);
	-webkit-box-shadow: 0px $y $blur rgba(0, 0, 0, $before);
	box-shadow: 0px $y $blur rgba(0, 0, 0, $before);

	&:hover {
		-moz-box-shadow: 0px $y $blur rgba(0, 0, 0, $after);
		-webkit-box-shadow: 0px $y $blur rgba(0, 0, 0, $after);
		box-shadow: 0px $y $blur rgba(0, 0, 0, $after);
	}
}

@mixin box-size-card($before, $after) {
	@include transition(200ms);
	transform: scale($before);

	&:hover {
		transform: scale($after);
	}
}

@mixin rotate-z($deg) {
	-webkit-transform: rotateZ(#{$deg}deg);
	transform: rotateZ(#{$deg}deg);
}


@mixin animation-gradient($speed) {
	-webkit-animation: GradientAnimation $speed ease infinite;
	-moz-animation: GradientAnimation $speed ease infinite;
	animation: GradientAnimation $speed ease infinite;
}

@-webkit-keyframes GradientAnimation {
	0%{background-position:1% 0%}
	50%{background-position:99% 100%}
	100%{background-position:1% 0%}
}
@-moz-keyframes GradientAnimation {
	0%{background-position:1% 0%}
	50%{background-position:99% 100%}
	100%{background-position:1% 0%}
}
@keyframes GradientAnimation { 
	0%{background-position:1% 0%}
	50%{background-position:99% 100%}
	100%{background-position:1% 0%}
}