.StripeElement {
	padding: 10px 12px;

	&--invalid {
		border-color: $danger;
	}

	&--webkit-autofill {
		background-color: #fefde5 !important;
	}
}

.InputElement {
	color: $light-grey;
}

#card-errors {
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: $danger;
}