.zk {
	&-table {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		padding-top: 200px;

		h3 {
			margin-bottom: 20px;
		}

		.heading {
			font-weight: 300;
			color: white;
		}
	}

	
	.table {
		border: 1px solid $light-grey;
		box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
		color: $dark-grey;

		.heading {
			&-h {
				font-weight: 300;
			}
			&-v {
				font-size: 1.5rem;
			}
		}
	}
}


.asterisk {
	color: #fd397a;
}

.cta {
	font-weight: bold;
	font-size: 2rem;
	border: 5px solid #fd397a;
	box-shadow: 5px 5px 5px $med-grey;
}

.zk-cell {
	background: rgba(0,255,0, 0.1);
	font-weight: bold;
}

th {	
	thead & {
		border: none;
	}	
}

