$heading:				'Montserrat', Helvetica, Arial, sans-serif;
$font-stack:			'Gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$zk-pink:				#fc5c7e;
$zk-purple:				#b072e6;
$zk-blue:				#6a82fc;
$zk-grad: 				$zk-pink, #f359a3, #db62c7, $zk-purple, $zk-blue;

$dark-grey:				#333333;
$med-grey:				#ababab;
$light-grey:			#f4f5f8;
$bg-main:				#f4f7f9;

// Button Colors
$primary:				#1991EB;
$secondary:				#DA932C;
$success:				#1BB934;
$danger:				#C8270C;

$padding-xs:			15px;
$sidebar-width:			250px;

:root {
	--padding-x: 		2rem;
	--p-3: 				1rem;
	--p-4: 			   	1.5rem;
	--p-5: 			   	3rem;
	--padding-5rem: 	5rem;
	--padding-banner: 	15rem;
	--padding-cta: 		5rem;

	--base-font-size: 	14px;
	--base-h1: 			calc(var(--base-font-size) * 4);
	--base-h2: 			calc(var(--base-font-size) * 3);
	--base-h3: 			calc(var(--base-font-size) * 2);
	--base-btn-font: 	calc(var(--base-font-size) * 1.3);
	--base-cta-font: 	calc(var(--base-font-size) * 1.3);
}

// Misc
$breadcrumb-divider: "|";

@include media-breakpoint-down(sm) {
	:root {
		--padding-cta: 		3rem;
	}
}

@include media-breakpoint-only(xs) {
	:root {
		--padding-x: 		15px;
		--padding-5rem: 	3rem;
		--padding-banner: 	10rem;

		--base-h1: 			calc(var(--base-font-size) * 2);
		--base-h2: 			calc(var(--base-font-size) * 2);
		--base-h3: 			calc(var(--base-font-size) * 1.5);		
		--base-btn-font: 	calc(var(--base-font-size) * 1.2);
		--base-cta-font: 	var(--base-font-size);
	}	
}

html, body {
	font-family: $font-stack;
	font-size: var(--base-font-size);
	webkit-font-smoothing: antialiased;
}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading;
	font-weight: bold;
	margin-bottom: 1.5rem;
	letter-spacing: 0.8;
}

h1 {font-size: var(--base-h1)};
h2 {font-size: var(--base-h2)};
h3 {font-size: var(--base-h3)};

ul, li {
	text-decoration: none;
	list-style: none;
}

a {
	@include transition(200ms);
	@include hover-state(1,0.8, $zk-blue);
	color: $zk-blue;
}

img {
	@include transition(200ms);
}

[type="checkbox"] {
	&:before {
		pointer-events: none;
		background-color: #fff;
		border: 1px solid #adb5bd;
	}
}

.no-bold {
	font-weight: normal!important;
}

/* paddings */
.p {
	&-x {
		padding: var(--padding-x);
	}

	&-5rem {
		padding: var(--padding-5rem);
	}

	&-10rem {
		padding: var(--padding-cta);
	}
}

.zaiko-pink 	{color: $zk-pink;}
.zaiko-blue 	{color: $zk-blue;}
.zaiko-purple 	{color: $zk-purple;}

.animated {
	&.animated-fast {
		-webkit-animation-duration: 300ms;
		animation-duration: 300ms;
	}
}

/* buttons */
.btn {
	@include transition(200ms);
	@include hover-state(1,0.9, white);
	@include box-shadow-card(1px, 5px, 0, 0.3);
	font-family: $font-stack;
	font-weight: 500;
	color: white;

	&:hover {
		color: white;
	}
	
	&-clear {
		background: none;
		border: none;
		color: white;
		box-shadow: none;
	}

	&:not(.btn-clear) {
		/* @include hover-state(1,0.85, white); */
		/* @include box-shadow(0, 0.2); */
	}

	&-outline {
		&-filter {
			color: $dark-grey; 
			border: 1px solid $med-grey;
			background: white;

			&:hover, &:focus {
				color: $dark-grey;
				border-color: $med-grey;
				box-shadow: none!important;
			}
		}
		&-light {			
			&:hover {
				color: $dark-grey;
			}	
		}
	}

	&-zaiko {
		@include color-zaiko(right, bottom);
		position: relative;

		.helper {
			@include transition(200ms);
			background: linear-gradient(to left top, $zk-pink, $zk-purple);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
		}

		&:hover {
			color: white; 

			.helper {
				opacity: 1;
			}
		}

		.text {
			color: white;
			position: relative;
		}
	}

	&-lg {
		padding: 0.7rem 1.5rem;
		@include box-shadow-card(2px, 8px, 0, 0.3);
	}

	&-xl, .helper {
		min-width: 150px;
		padding: 15px 25px;
		font-size: var(--base-btn-font);
	}
	
	&-default 	{background: $zk-blue;}
	&-primary 	{background: $primary;}
	&-success 	{background: $success;}
	&-facebook 	{background: #3B5998;}
	&-google 	{background: #4081ed;}
	&-pink 		{background: $zk-pink;}

	&-white {
		border: 1px solid white;
		color: white;
	}

	&-dark {
		border: 1px solid dark;
		color: dark;
	}

	&.disabled, &:disabled {
		opacity: 0.4;
	}
}

/* backgrounds */
.bg {
	&-blue 				{background: $zk-blue};
	&-purple 			{background: $zk-purple};
	&-pink 				{background: $zk-pink};
	&-zaiko 			{background: (linear-gradient(to right bottom, $zk-grad))};
	&-dark-grey 		{background: $dark-grey};
	&-med-grey 			{background: $med-grey};
	&-light-grey 		{background: $light-grey};

	&-overlay {
		min-height: 100%;
		position: relative;

		video {
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			background-size: cover;
			filter: opacity(40%);
		}

		&.full-h {	
			height: 100vh;
			color: white;
		}

		>* {
			position: relative;
		}

		@include bg-overlay($dark-grey);

		&.opacity-40 {
			@include bg-overlay(black, 0.4);
		}

		&-zaiko {
			@include bg-overlay(linear-gradient(to right bottom, $zk-grad));

			&-rev {
				@include bg-overlay(linear-gradient(to left top, $zk-grad));
			}
		}
	}
}

.fa-chevron-right {
		float: right;
		margin-top: 4px;
		margin-left: 2.5rem;
	}

.fab {
	&.sms { font-size: 1.2rem;}
	&.fa-facebook-f { color: #3C5A99;}
	&.fa-instagram { color: black; }
	&.fa-twitter { color: #00acee;}
}

[data-toggle="collapse"] {
	i {
		margin-left: 0;
	}

	.collapsed { // CLOSE
		.fa {
			&-chevron-right {
				@include transition(200ms);
				@include rotate-z(0);
			}
		}
	}
	&:not(.collapsed), [aria-expanded="true"] { // OPEN
		.fa {
			&-chevron-right {
				@include transition(200ms);
				@include rotate-z(90);

			}	
		}
	}
}

.dropdown-toggle {
	&[aria-expanded="false"] {
		.fa {
			&-chevron-right { 
				@include transition(200ms);
				@include rotate-z(0);
			}
		}
	}
	&[aria-expanded="true"] {
		.fa {
			&-chevron-right {
				@include transition(200ms);
				@include rotate-z(90);
			}
		}
	}
}

/* Colors */
.text {
	&-blue 				{color: $zk-blue};
	&-purple 			{color: $zk-purple};
	&-pink 				{color: $zk-pink};
	&-dark-grey 		{color: $dark-grey};
	&-med-grey 			{color: $med-grey};
	&-light-grey 		{color: $light-grey};
}

/* Cards */
.card {
	-webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.08);
	box-shadow: 0 8px 24px rgba(0,0,0,0.08);
	border-color: $light-grey;
	color: $gray-700;

	&-body {
		padding: 0;
	}

	&-dark {
		background: rgba(0,0,0,0.4);
		border-color: rgba(0,0,0,0.2);
		color: $gray-200;
	}

	&.hover {
		color: black;
		box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
		transform: scale(1.1);
		z-index: 1;
	}

	&.nothover {
		color: $med-grey;
		background: $light-grey;
		box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
		transform: scale(1);
	}
}

.alert {
	-webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.08);
	box-shadow: 0 8px 24px rgba(0,0,0,0.08);

	&-hidden {
		display: none;
	}
}

.sign-up {
	color: $dark-grey;

	.modal-content {	
		border: none;
		background: none;
	}
}

[id*="BV_modal_outer"] {
	z-index: 1072!important;
}

.modal {
	background: rgba(0,0,0,0.8);

	&-header {
		display: none;
	}

	&.fade {
		.modal-dialog {
			-webkit-transition: fadeIn .3s ease-in-out;
			-o-transition: fadeIn .3s ease-in-out;
			transition: fadeIn .3s ease-in-out; 
			transform: none;
		}
	}

	&-backdrop {
		z-index: -1;
	}

	&-dark {
		.modal-content {
			background: black;
			color: white;
		}
	}

	&-footer {
		> div {
			z-index: 1000;
			margin-right: -5px;
		}
		&:hover {
			background: $dark-grey;
			@include transition(200ms);
		}
	}

	&-close, &-footer {
		position: fixed;
		width: 35px;
		height: 35px;
		right: 20px;
		top: 20px;
		border-radius: 50%;
		background: none;
		border: none;
		pointer-events: auto;
		vertical-align: top;

		button {
			opacity: 0;
		}

		&:hover {
			cursor: pointer;
		}

		&:before, &:after {
			background-color: white;
			content: "";
			display: block;
			left: 50%;
			position: absolute;
			top: 50%;
			-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
			-webkit-transform-origin: center center;
			transform-origin: center center;
		}

		&:before {
			height: 2px; 
			width: 50%;
		}

		&:after {
			height: 50%;
			width: 2px;
		}
	}
}

.swiper {
	width: 100%;

	&-pagination {
		&-bullet {
			background: white;
			opacity: 0.5;
			width: 10px;
			height: 10px;

			&-active {
				background: $zk-pink;
				opacity: 1;
			}
		}
	}
}

.breadcrumb {
	background-color: transparent;
	padding: 1rem 0;
	margin: 0;

	&-item {
		+.breadcrumb-item {
			padding-left: 1rem;

			&:before {
				content: $breadcrumb-divider;
				padding-right: 1rem;
			}
		}
	}
}

.event-meta {
	li {
		display: flex;
		i {
			min-width: 25px;
		}
		> * {
			line-height: 2;
		}

	}
}

.dropdown {
	&-menu {
		-webkit-animation: fadeIn .3s ease 1;
		animation: fadeIn .3s ease 1;
		margin-top: 0.75rem;
		-webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.08);
		box-shadow: 0 8px 24px rgba(0,0,0,0.08);
		border: none;
	}
	&-item {
		padding: 0.5rem 1.5rem;
		&:active, &.active {
			background-color: $zk-blue;
		}
	}
}

.page-item {
	&.active, &:active {
		a {
			color: white;
		}
	}
}

// Progress Dots and Lines
.progress-bar {
	a {
		color: #cccccc;
	}

	background: none;

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	i, svg {
		font-size: 30px;
		position: absolute;
		color: white;
		bottom: 0;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 0;
		right: 0;
		margin: auto;
		display: block;
	}

	li {
		position: relative;
		z-index: 1;
		display: inline-block;
		min-width: 70px;
		margin: 0;
		color: $med-grey;

		.fa-step {
			&--text {
				margin: 1rem 0; 
			}
		}

		&:first-child {
			.progress-status {
				&:before {
					display: none;
				}
			}
		}

		&:last-child {
			.progress-status {
				&:after {
					display: none;
				}
			}
		}

		&.active {
			font-weight: bold;
			color: $zk-pink;

			.progress-status {
				background: $zk-pink;

			/* 	&:before {
					background: $zk-pink;
					} */
				}
			}

			&.through {
				.progress-status {
					background: $zk-pink;

				/* &:before, &:after {
					background: $zk-pink;
					} */
				}
			}
		}

		.progress-status {
			position: relative;
			width: 60px;
			height: 60px;
			margin: 0 90px;
			background:  $med-grey;
			border-radius: 50%;
			-webkit-box-shadow: 0 8px 24px rgba(0,0,0,0.08);
			box-shadow: 0 8px 24px rgba(0,0,0,0.08);

			&:before {
				right: 100%;
			}

			&:after {
				left: 100%;
			}

			&:before, &:after {
				border-style: solid;
				border-width: 0;

				position: absolute;
				bottom: 28px;
				z-index: -1;
				display: block;
				content: '';
				width: 100px;
				height: 5px;
				background: $med-grey;
			}
		}
	}

	// Spinner 

	@keyframes zk-spinner {
		0% {
			-webkit-transform: translate(-50%, -50%) rotate(0deg);
			transform: translate(-50%, -50%) rotate(0deg);
		}
		100% {
			-webkit-transform: translate(-50%, -50%) rotate(360deg);
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}
	@-webkit-keyframes zk-spinner {
		0% {
			-webkit-transform: translate(-50%, -50%) rotate(0deg);
			transform: translate(-50%, -50%) rotate(0deg);
		}
		100% {
			-webkit-transform: translate(-50%, -50%) rotate(360deg);
			transform: translate(-50%, -50%) rotate(360deg);
		}
	}

	.zk-spinner {
		position: relative;
		width: 100px;
		height: 100px;
		-webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
		transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);

		div, div:after {
			position: absolute;
			width: 150px;
			height: 150px;
			border: 30px solid $zk-pink;
			border-top-color: transparent;
			border-radius: 50%;
		}

		div {
			-webkit-animation: zk-spinner 1s linear infinite;
			animation: zk-spinner 1s linear infinite;
			top: 100px;
			left: 100px;
		}

		div:after {
			-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
		}
	}