$color-brand: #D51617;

#guestadmin, #guest-admin, .guestadmin, .guest-admin {
	background: #efefef;

	nav {
		a {color: inherit;}
		@include media-breakpoint-down(md) {
			a {color: white;}
		}
	}

	&-nav {
		z-index: 100;
		@include media-breakpoint-only(xs) {
			position: relative;
		}
	}
	&-navbar {
		padding-top: var(--p-3);
		padding-bottom: var(--p-3);
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);

		ul {
			white-space: nowrap;
			overflow-x: scroll;
			li {
				~ li {
					padding-left: 2rem;
				}
			}
		}
		a {
			#guestadmin &, #guest-admin &, .guestadmin &, .guest-admin & {
				color: white;
			}
		}		
	}

	.header--transparent {
		padding: 0.5rem 1rem;
		z-index: 100;
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}

	.navbar-toggle-guestadmin { /*toggle button*/
		background: $dark-grey;
		color: white;
		top: 0;
		z-index: 9999;
		border: none;
		width: 100%;
		border-radius: 0;
		padding: 10px;
		font-size: 1rem;
	}

	.sr {
		&-reveal {
			visibility: hidden;
		}
	}

	.container {
		~ * {
			padding-top: var(--p-3);
			padding-bottom: var(--p-3);
		}

		&:first-child {
			padding-top: var(--p-5);
		}

		&:last-child {
			padding-bottom: var(--p-5)!important;
		}
	}


	.text-brand {
		color: $color-brand;

		i {
			color: $color-brand;
		}
	}

	a {
		color: $color-brand;
	}

	.badge {
		color: white;
		vertical-align: middle;
	}

	.badge {
		padding: 0.3em 0.5em;
		font-weight: 500;
		font-size: 85%;
	}
	
	.btn {
		font-weight: normal; 

		&-brand {
			background: $color-brand;
			color: white
		}

		&-outline {
			&-brand {
				color: $color-brand;
				border: 1px solid $color-brand;

				&:hover {
					color: white;
					background: $color-brand;
				}
			}
		}
	}

	.fa-add-ticket, .fa-remove-ticket {
		font-size: 1.5rem;
	}

	.ticket-single {
		margin-bottom: 1rem;
	}

	.guest-img {
		position: relative;
		padding-top: 56.25%;
		@include bg-overlay($med-grey);

		.custom-file-input {
			cursor: pointer;
		}

		&__btn {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
		}

		&__desc {
			position: absolute;
			top: 50%;
			left: 50%;
			color: white;
			transform: translate(-50%, -50%);
			text-align: center;

			i {
				font-size: 2.5rem;
			}
		}
	}

	.notification-list {
		padding-left: 0;
		li {
			border-bottom: 1px solid #dee2e6;

			&:hover {
				background: $light-grey;
			}
			&:last-child {
				border-bottom: none;
			}
		}

		p {
			margin-bottom: 0.5rem;
			padding-right: 30px;
		}

		.badge {
			margin-left: 5px;
		}


	}

	.status-details {
		.flex-row {
			> * {
				&:first-child {
					min-width: 200px;
				}
			}
		}
	}

	.event-banner {
		img {
			height: 460px;
			object-fit: cover;
		}
	}

	.price-info {

	}

	.preview {
		box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
		position: fixed;
		top: 0;
		background: $dark-grey;
		width: 100%;
		color: white;
		z-index: 100;
	}

	.progress-bar {
		li {
			&.active {
				color: $color-brand;

				.progress-status {
					background: $color-brand;

				}
			}

			&.through {
				.progress-status {
					background: $color-brand;

					&:before, &:after {
						background: $color-brand;
					}
				}
			}
		}
	}
	.page {
		&-item {
			&.active, &:active {
				a {
					color: white;
				}
				.page-link {
					background: $color-brand;
					border-color: $color-brand;
				}
			}
		}
		&-link {
			&:hover {
				color: $color-brand;
			}
		}
	}

	.table {
		th {
			background-color: $dark-grey;
			color: white;
			white-space: nowrap;

			&:hover {
				@include hover-state(1, 0.9);
			}
		}
		th, td {
			padding: 1rem 2rem;
		}
	}

	.invalid-feedback {
		display: block;
	}

	footer {
		a {
			color: white;
		}
	}

	.coupon-price, .form-control-verify {
		height: 0;
		@include transition(500ms);

		&.show {
			height: auto;
		}
		p, h4 {
			color: $zk-pink;
		}
		.btn {
			background: $zk-pink;
		}
	}

	@include media-breakpoint-only(xs) {

	}

	@include media-breakpoint-up(md) {

	}
}