.zaiko-listing {

	.btn {
		font-weight: normal;
	}

	.listing {
		&-popular, &-card {
			margin: 0;
			position: relative;
			left: auto;
			top: auto;
			display: inherit;
			align-items: center;
			overflow: hidden;
			border: none;
			border-radius: .25rem;
			@include box-shadow-card(5px, 10px, 0.15, 0.3);
			@include box-size-card(1, 1.03);
			@include transition(200ms);

			img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}

			.event {
				position: absolute;
				background: rgba(0,0,0,0.7);
				color: white;

				p {
					margin: 0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow-x: hidden;
				}

				&-location {
					top: 0;
					right: 0;		
					padding: 2px 5px;

				}
				&-info {
					bottom: 0;
					width: 100%;
					padding: 10px 15px;
				}
			}
		}
		&-media {
			&-partner {
				flex: 1 0 45%;
				background: $med-grey;
				border-radius: .25rem;
				color: white;
				margin: 5px;

				&:hover {
					background: $zk-blue;
				}
			}
		}
		&-group {
			.listing-group-latest {
				@include media-breakpoint-up(md) {
					&:not(:nth-of-type(3n)) {
						margin-right: 20px;
					}
					flex: 1 1 30%;
				}

				@include box-shadow-card(5px, 10px, 0.15, 0.3);
				@include box-size-card(1, 1.03);
				overflow: hidden;
				border: none;

				img {
					width: 100%;
					height: auto;
					object-fit: cover;
				}

				.event {
					p {
						margin: 0;
						text-overflow: ellipsis;
						white-space: nowrap;
						overflow-x: hidden;
					}

					&-info {
						padding: 10px 15px;
					}
				}
			}
		}
	}


	@include media-breakpoint-down(sm) {
		.listing-latest {
			flex: 1 1 50%;
		}
	}

} // end